langchain==0.2.16
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-ollama
langchain-core
chromadb
faiss-cpu
qdrant-client
sentence-transformers
rank_bm25
transformers
ragas
datasets
numpy
pandas
matplotlib
pypdf
unstructured
requests
